extends layout

block content
	#account.left-top
		.row
			.col-md-offset-12(style="float : left")
				button#btn-logout.btn-primary(style = 'width:80px;height:40px;border-radius: 20px;font-size: 15px;float:right')
					| Logout
		.row
			.col-md-4
				form(method="",style="width:80%").form-horizontal.well

						h2 All Users
						h3 #{count}
			.col-md-4
				form(method="",style="width:80%").form-horizontal.well
					h2 New Request
					h3 #{reqCount}
			.col-md-4
				form(method="",style="width:90%").form-horizontal.well
					h2(style="size=1px") Request Processed
					h3 #{count-reqCount}
		.row(style="margin-top:2%")
			.col-md-4
				form(method="",style="width:80%;height=50%").form-horizontal.well
					h2 Admin
					h3 $#{amount}
		.row(style="margin-top:1%;align-content: center;")
			.well
				table(id="myTable",summary='This is a table',style='margin-top:20px;height:100px;text-align: center').h7.scrollit
					thead
						tr
							th(style='width:3%;color:#201e22;font-size: 20px;text-align: center').h7 #
							th(style='width:12%;color:#201e22;font-size: 20px;text-align: center').h7 User ID
							th(style='width:12%;color:#201e22;font-size: 20px;text-align: center').h7 User Name
							th(style='width:20%;color:#201e22;font-size: 20px;text-align: center').h7 Request_type
							th(style='width:15%;color:#201e22;font-size: 20px;text-align: center').h7 Request Amount($)
							th(style='width:18%;color:#201e22;font-size: 20px;text-align: center').h7 Date
							th(style='width:13%;color:#201e22;font-size: 20px;text-align: center').h7 Pay_type
							th(style='width:15%;color:#201e22;font-size: 20px;text-align: center').h7 Action
					tbody
						- for (var i = 0; i < results.length; i++)
							tr(style='width:5%;color:#201e22;font-size: 20px')
								td= i + 1
								td= results[i].id
								td= results[i].name
								td= results[i].type
									//td= results[i].amount
								td= results[i].reqAmount
								td= results[i].date
								td= results[i].payType

								td
									a(href="#")
										| payment
								td
									form(method='post',action='/freezeRequest',onload="freezeMethod()")
										input(id='indexr',style='color:#201e22;font-size: 20px;text-align : center',name='id',type='hidden', value=results[i].id)
										input(id='reqamountr',style='color:#201e22;font-size: 25px;text-align : center',name='amount',type='hidden',value=results[i].reqAmount)
										input(id='freezes',style='color:#201e22;font-size: 25px;text-align : center',name='freezes',type='hidden',value=results[i].freeze+"")
										button(type='submit',value=results[i].freeze+"",id ='freeze').btn.button-sign-in.btn-primary
											span.glyphicon freeze

								td
									form(method='post',action="/updateUserWithdraw")
										input(id='index',style='color:#201e22;font-size: 20px;text-align : center',name='id',type='hidden', value=results[i].id)
										input(id='reqamount',style='color:#201e22;font-size: 20px;text-align : center',name='amount',type='hidden',value=results[i].reqAmount)
										button(type='submit',value='submit').btn.button-sign-in.btn-danger
											span.glyphicon
												| clear




	include modals/paypal

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')